
    </section>
  </aside>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{$doc_root}js/bootstrap.min.js"></script>
<script src="{$doc_root}js/app.js" type="text/javascript"></script>
<script type="text/javascript">
	var g_site_name = '{$site_name}';
	var g_controllerName = '{$controller_name}';
</script>
