@charset "utf-8";
/* reset */
html {
	overflow-y:scroll;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	font-size:inherit;
	font:100%;
}
caption,th {
	text-align:left;
}
q:before,q:after {
	content:'';
}
object,
embed {
	vertical-align:top;
}
hr,legend {
	display:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
img,abbr,acronym,fieldset {
	border:0;
}
li {
	list-style-type:none;
}
img {
	vertical-align:bottom;
}
strong {
	font-weight:normal;
}
/* default */
body {
	background:#FFF;
	color:#000;
	font-size:16px;
	font-family: "游ゴシック", "Yu Gothic", YuGothic, "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
input,textarea,select {
	font-size:16px;
	font-family: "游ゴシック", "Yu Gothic", YuGothic, "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	vertical-align:middle;
}
/* new clearfix */
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
* html .clearfix {
	zoom:1;
}/* IE6 */
*:first-child+html .clearfix {
	zoom:1;
}/* IE7 */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
