@charset "utf-8";
body { padding-top: 70px; }

body {
  font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
  font-size:16px;
  color:#333;
  background-color:#F6F5F3;
  line-height: 1.8;
  box-sizing: border-box;
}

header {
  height:150px;
}
/*css上書き*/
.badge-danger {
  background-color: #AD1B1B;
}
.btn-primary {
  background-color:#0E183F;
  border-color: #0E183F;
}
.btn-primary:hover {
  background-color:#3D4E8C !important;
  border-color: #3D4E8C !important;
}
/*応募フォーム*/
.age-input { 
  width:5rem;
}
.contact-area {
  border-bottom: 1px solid #AEAA91;
  padding-bottom: 1rem;
}
.zip {
flex-grow:0 !important;
width: 8rem !important;
}
.prefecture {
  flex-grow:0 !important;
  width:8rem !important
}
.agrement-group {
  background:#fff;
  padding: .375rem .75rem;
  margin-bottom:0.5rem;
  max-height: 300px;
  overflow: auto;
}
.title {
  border-top:5px double #6D533B;
  padding:20px 0;
  border-bottom:5px double #6D533B;
}
/*お問い合わせ完了*/
.info-area {
  border:1px solid #6D533B;
}
